/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-default);
  font-family: "MyTupi", sans-serif;
}

/* Page Container */
.container {
  max-width: 1400px;
  padding-left: 56px;
  padding-right: 56px;
  margin: 0 auto;
}

/* vertical spacing between sections */
.section-spacing {
  padding: 60px 0;
}

/* Adjust container padding for tablets and small screens */
@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
