/* === Mobile styles === */

@media (max-width: 600px) {
  /* Page Container */
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Hide Navigation links */
  #main-nav,
  #utility-nav {
    display: none;
  }

  /* Make .main-nav-row flexible */
  .main-nav-row .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  /* Menu icon */
  .main-nav-row .menu-icon {
    font-size: 1.8rem;
    color: var(--primary-blue);
    cursor: pointer;
    display: block;
  }

  /* Change icon color */
  .main-nav-row .menu-icon:hover,
  .main-nav-row .search-box:hover,
  .close-icon:checked {
    color: var(--primary-red);
  }

  /* Reduce logo height*/
  .logo {
    height: 28px;
  }

  /* Search box */
  .search-box {
    padding: 0;
    font-size: 1.8rem;
    color: var(--primary-blue);
  }
  .search-box > span {
    display: none;
  }
  .search-box i {
    margin-left: 0;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 89vw;
    height: 100vh;
    background-color: var(--text-inverse);
    transform: translateX(-100%);
    transition: display 0.3s ease;
    z-index: 1000;
  }

  /* Show sidebar when menu is toggled */
  #menu-toggle:checked ~ .sidebar {
    transform: translateX(0);
  }
  /* Sidebar header with logo and close icon */
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.3rem solid var(--primary-red);
  }
  /* XNGAGE logo */
  .sidebar-header img {
    display: block;
    height: 25px;
  }
  /* Close icon */
  .sidebar .close-icon {
    display: block;
    font-size: 2rem;
    color: var(--primary-blue);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0.5rem;
  }

  /* Show and position navs in sidebar*/
  #menu-toggle:checked ~ header #utility-nav,
  #menu-toggle:checked ~ header #main-nav {
    display: block;
    position: absolute;
    left: 0;
    z-index: 1001;
    width: 89vw;
    margin-left: 0;
  }
  #menu-toggle:checked ~ header #utility-nav {
    top: 31rem;
    bottom: 0;
    background-color: var(--ui-bg-light-transparent);
  }
  #menu-toggle:checked ~ header #main-nav {
    top: 5.5rem;
  }

  /* Nav list styling */
  #menu-toggle:checked ~ header #utility-nav ul,
  #menu-toggle:checked ~ header #main-nav ul {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    gap: 0;
  }
  #menu-toggle:checked ~ header #main-nav ul li {
    border-bottom: 0.1rem solid var(--ui-bg-light);
  }
  #menu-toggle:checked ~ header #main-nav ul a,
  #menu-toggle:checked ~ header #utility-nav ul a {
    padding: 1.5rem;
  }

  /* Right arrow icon on main nav links */
  #main-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #main-nav ul li a::after {
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-size: 1rem;
  }
}
