/* === Tablet styles === */

@media (max-width: 1024px) and (min-width: 601px) {
  /* Make .main-nav-row flexible */
  .main-nav-row .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  /* Menu icon */
  .main-nav-row .menu-icon {
    font-size: 1.8rem;
    color: var(--primary-blue);
    cursor: pointer;
    display: block;
    position: relative;
  }
  /* Custom menu tooltip */
  .main-nav-row .menu-icon::after {
    content: "Expand menu";
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--primary-blue);
    color: var(--text-inverse);
    font-size: 0.75rem;
    padding: 6px;
    white-space: nowrap;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: opacity 0.2s ease;
  }
  /* Show tooltip on hover */
  .menu-icon:hover::after {
    opacity: 1;
  }
  /* Show Collapse menu when menu is expanded */
  #menu-toggle:checked ~ header .menu-icon::after {
    content: "Collapse menu";
  }

  /* Change icons color on hover */
  .main-nav-row .menu-icon:hover,
  .main-nav-row .search-box:hover {
    color: var(--primary-red);
  }

  /* Reduce logo height*/
  .logo {
    height: 28px;
  }

  /* Search box */
  .search-box {
    padding: 0;
    font-size: 1.8rem;
    color: var(--primary-blue);
  }
  .search-box > span {
    display: none;
  }
  .search-box i {
    margin-left: 0;
  }

  /* Sidebar */
  .sidebar {
    position: sticky;
    top: 10.7rem;
    left: 0;
    height: 100vh;
    width: 60px;
    background-color: var(--ui-bg-light-transparent);
    overflow-x: hidden;
    transition: width 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Expand Sidebar */
  #menu-toggle:checked ~ .sidebar {
    width: 265px;
  }

  /* Hide close icon */
  .close-icon {
    display: none;
  }

  /* Position navs inside sidebar */
  #utility-nav,
  #main-nav {
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1001;
  }
  #utility-nav {
    top: 34.5rem;
  }
  #main-nav {
    top: 10.8rem;
  }

  /* Nav list styling */
  .main-nav-row #main-nav {
    margin-left: 0;
  }
  .utility-nav-row #utility-nav ul,
  .main-nav-row #main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 0;
    width: 60px;
  }
  .utility-nav-row #utility-nav a,
  .main-nav-row #main-nav a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1.2rem;
  }
  .utility-nav-row #utility-nav i,
  .main-nav-row #main-nav i {
    font-size: 1.5rem;
  }

  /* Hide nav text when collapsed */
  #menu-toggle ~ header #utility-nav span,
  #menu-toggle ~ header #main-nav span {
    display: none;
  }

  /* Show nav text when expanded */
  #menu-toggle:checked ~ header #utility-nav span,
  #menu-toggle:checked ~ header #main-nav span {
    display: inline;
  }

  /* Navigation icons always visible */
  #menu-toggle ~ header #utility-nav i,
  #menu-toggle ~ header #main-nav i {
    display: inline-block;
  }

  /* Expand nav list width when sidebar is expanded */
  #menu-toggle:checked ~ header #utility-nav ul,
  #menu-toggle:checked ~ header #main-nav ul {
    width: 265px;
  }

  /* Add separator and padding when expanded */
  #menu-toggle:checked ~ header #utility-nav li,
  #menu-toggle:checked ~ header #main-nav ul li {
    border-bottom: 0.1rem solid var(--ui-bg-light);
  }
}
